body {
  background-image: url("../images/wallpaper.jpg");
  background-repeat: repeat;
  background-size: cover;
}

#title {
  height:auto;
  width:50vw;
  margin-left:25vw;
  margin-right:25vh;
}

#gameChannels {
  display:none;
  height:80vh;
  width:95vw;
  border-style:solid;
  border-color:black;
  border-width:2px;
  margin-left:0.5vw;
}

#login {
  height:5vh;
  width:25vw;
  margin-left:36.5vw;
  margin-right:36.5vw;
  margin-top:33.5vh;
  /* margin-bottom:33.5vh; */
  font-size:2.5vw;
}

#start {
  background-color:green;
  border-color:black;
  margin-left:40vw;
  text-align:center;
  font-weight:bold;
  width:20vw;
  margin-top:35vh;
}

#button {
  display:none;

  margin-left:62vw;
  margin-top:-7.5vh;
  width:4.5vw;
  height:4.5vh;
  background-color:green;
  font-size:1vw;
  font-weight:bold;
  border-style:solid;
  border-color:black;
  border-width:1px;
}

#submit {
  /* display:none; */

  margin-left:93.6vw;
  margin-top:-3.36vh;
  width:5vw;
  height:3.3vh;
  background-color:green;
  font-size:1vw;
  font-weight:bold;
  border-style:solid;
  border-color:black;
  border-width:2px;
}

#chat {
  /* display:none; */

  width:93vw;
  border-style:solid;
  border-color:black;
  border-width:2px;
  margin-left:0.5vw;
}

#chatbox {
  display: none;
}


.room {
  display:none;
  height:60vh;
  width:98vw;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-left:0.5vw;
}

#chatroom {
  display:none;
  height:20vh;
  width:98vw;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-left:0.5vw;
  background-color:white;
  vertical-align:text-bottom;
}

span {
  /* display: none; */

  float: right;
  color: green;
  font-weight:bold;
  font-size:1.5vw;
}

.channel {
  /* default display depending*/
  display:none;

  /* Channel Buttons */
  height:15vh;
  width:50vw;
  border-style:inset;
  border-color:gold;
  border-width:3px;
  margin-left:24vw;
  margin-bottom:5vh;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}

.channel:hover {
  opacity: 0.9;
  height:16vh;
}

.channel:active {
  height:15vh;
}


#one {
  margin-top: 2.5vh;
  background-image:url("../images/room-1.png");
}

#two {
  background-image:url("../images/room-2.png");
}

#three {
  background-image:url("../images/room-3.png");
}

#four {
    background-image:url("../images/room-4.png");
}
